<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:o="http://bugbox.localhost/">
  <xi:include href="layout.html" />
  <head>
    <title>${commit.id}</title>
  </head>
  <body>
    <o:commit-title />

    <o:list title="Details" class="one right">
      <o:commit-details />
    </o:list>
    
    <o:list title="Changes" class="two left gutter" py:with="diff=commit.diff">
      <ul>
        <li><o:commit-message link="false" /></li>
        <li><o:unified-diff  /></li>
      </ul>
    </o:list>
    
  </body> 
</html>