<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:o="http://bugbox.localhost/">
  <xi:include href="layout.html" />
  <head>
    <title>${ticket.system.name} ${ticket.number} ${label.name}</title>
  </head>
  <body>
    <o:label-title />
    
    <o:list title="Instructions" class="two left">
      <o:commit-instructions type="label" url="${label.head.remote_url}" ref="${'%s/%s/%s' % (label.ticket.system.id, label.ticket.number, label.name)}" />
    </o:list>
    
    <o:list py:with="commit=label.head" title="Details" class="one right">
      <o:commit-details />
    </o:list>
    
    <o:list py:if="len(label.commit_history_keys()) > 1" py:with="commits=label.commit_history_values()" title="History" class="two left">
      <o:commit-list />
    </o:list>
    
    <o:list title="Diff" class="three left" py:if="len(label.head.diff.files) > 0" py:with="diff=label.head.diff">
      <o:unified-diff  />
    </o:list>

  </body>
</html>