<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:o="http://bugbox.localhost/">
  <xi:include href="layout.html" />
  <head>
    <title>${ticket.system.name} ${ticket.number} ${label.name}</title>
  </head>
  <body>
    <o:label-title />
    
    <o:list title="Instructions" class="two left">
      <py:choose>
        <py:when test="label.name != 'default'">
          <o:commit-instructions type="label" url="${label.head.remote_url}" ref="${'%s/%s/%s' % (label.ticket.system.id, label.ticket.number, label.name)}" />
        </py:when>
        <py:otherwise>
          <o:commit-instructions type="label" url="${label.head.remote_url}" ref="${'%s/%s' % (label.ticket.system.id, label.ticket.number)}" />
        </py:otherwise>
      </py:choose>
    </o:list>
    
    <o:list py:with="commit=label.head" title="Details" class="one right">
      <o:commit-details />
    </o:list>

  </body>
</html>