<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:o="http://bugbox.localhost/">
  <xi:include href="layout.html" />
  <head>
    <title>${ticket.system.name} ${ticket.number} ${label.name}</title>
  </head>
  <body>
    <o:label-title />
    
    <o:list title="Latest Change" class="two left second" py:with="diff=label.head.diff; commit=label.head">
      <ul>
        <li><o:commit-message /></li>
        <li><o:unified-diff  /></li>
      </ul>
    </o:list>

    <div class="one right">
    <o:list title="Details" class="one">
      <o:label-details />
    </o:list>

    <o:list py:with="commits=label.commit_history_values()" title="History" class="one">
      <o:commit-list link="true" body="false" />
    </o:list>
    </div>

  </body>
</html>
