<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:o="http://bugbox.localhost/">
  <xi:include href="layout.html" />
  <head>
    <title>${ticket.system.name} ${ticket.number}</title>
  </head>
  <body>
    <o:ticket-title />
    
    <o:list title="Details" class="one right">
      <o:ticket-details />
    </o:list>

    <o:list py:with="labels=sorted(ticket.labels.values(), cmp=lambda x,y : cmp(x.id, y.id), reverse=True)" class="two left" title="Labels" >
      <o:label-list />
    </o:list>
 

  </body>
</html>
