<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:o="http://bugbox.localhost/">
  <xi:include href="layout.html" />
  <head>
    <title>${ticket.system.name} ${ticket.number}</title>
  </head>
  <body>
    <o:ticket-title />
    
    <o:list title="Instructions" class="two left">
      <o:commit-instructions type="ticket" url="${ticket.labels.values()[0].head.remote_url}" ref="${'%s/%s[/label]' % (ticket.system.id, ticket.number)}" />
    </o:list>
    
    <o:list py:with="labels=ticket.labels.values()" class="one right" title="Labels" >
      <o:label-list />
    </o:list>
 

  </body>
</html>