<?python
  
  from time import strftime
  import textwrap
  
  def truncate(content, length=30, elipsis="..."):
    if len(content) > length:
      return " ".join(content[0:length].split(" ")[0:-1]) + elipsis
    return content
    
  def wrap(content, length=30, elipsis="..."):
    data = ""
    
    while content:
      if len(content) > length:
        a = content[:length].rfind(" ")
        b = content[length:].find(" ")
        
        if a == -1 or b == -1 or a + b > length:
          data += "%s%s " % (content[:length - len(elipsis)], elipsis)
          content = content[length - len(elipsis):]
        else:
          data += content[:length - a]
          content = content[length - a:]
      else:
        data += content
        content = None
          
    return data?>
  
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/" 
      xmlns:o="http://bugbox.localhost/" py:strip="">

  <py:match path="o:list">
    <div py:attrs="select('@*')" >
      <div class="list" >
      <div class="list-title" >
        <div py:if="browser == 'msie'" class="top left corner" />
        <div py:if="browser == 'msie'" class="top right corner" />
        <a href="#${select('@title')}" name="${select('@title')}">${select('@title')}</a>
      </div>
      
      <div class="list-content">
        ${select('*[local-name()!="h1"]|text()')}
      </div>
      </div>
    </div>
  </py:match>
  
  <py:match path="o:ticket-list">
    <ul py:if="tickets">
      <li py:for="ticket in reversed(tickets)">
        <div class="ticket left gutter" />
        <div class="left">
          <h2><a href="${url('/tickets/%s/%s' % (ticket.system.id, ticket.number))}">${ticket.number}</a></h2>
          <a href="${url('/tickets/%s' % ticket.system.id)}">${ticket.system.name}</a>
          
        </div>
        <div class="right caption">${sorted(ticket.labels.values(), key=lambda x : x.head.author.date)[0].head.author.age}</div>
        <div class="clear" />
      </li>
    </ul>
  </py:match>
  
  <py:match path="o:system-list">
    <ul py:if="systems">
      <li py:for="system in reversed(systems)">
        <div class="system left gutter" />
        <div class="left">
          <h2><a href="${url('/tickets/%s' % system.id)}">${system.name}</a></h2>
          <a href="${system.url}">${system.url}</a>
        </div>
        <div class="clear" />
      </li>
    </ul>
  </py:match>

  <py:match path="o:author-title">
    <div class="title">
      <div class="title-img">
        <o:author-icon size="75" />
      </div>
      <py:choose>
        <py:when test="author.name">
        <div class="title-txt">
          <h1>${author.name}</h1>
          <span class="title-caption">
            <a href="mailto:${author.email}">${author.email}</a>
          </span>
        </div>
        </py:when>
        <py:otherwise test="">
          <div class="title-txt">
            <h1>${author.email}</h1>
          </div>
        </py:otherwise>
      </py:choose>
      <div class="clear" />
    </div>
  </py:match>
  
  <py:match path="o:commit-title">
    <div class="title">
      <div class="title-img commit"/>
      <div class="title-txt">
        <h1>${truncate(commit.subject, length=40)}</h1>
        <span py:if="commit.author" class="title-caption">
          Authored ${commit.author.age} by 
          <py:choose>
            <py:when test="commit.author.user">
              <o:author-name py:with="author=commit.author" />
            </py:when>
            <py:when test="commit.author.name">${commit.author.name}</py:when>
            <py:otherwise />
          </py:choose>
        </span>
      </div>
      <div class="clear" />
    </div>
  </py:match>
  
  <py:match path="o:system-title">
    <div class="title">
      <div class="title-img system" />
        <div class="title-txt">
          <h1>${system.name}</h1>
          <span class="title-caption">
            <a href="${system.url}">${system.url}</a>
          </span>
        </div>
      <div class="clear" />
    </div>
  </py:match>

  <py:match path="o:ticket-title">
    <div class="title">
      <div class="title-img ticket" />
        <div class="title-txt">
          <h1>${ticket.number}</h1>
          <span class="title-caption">
            <a href="${url('/tickets/%s' % ticket.system.id)}">${ticket.system.name}</a>
          </span>
        </div>
      <div class="clear" />
    </div>
  </py:match>

  <py:match path="o:label-title">
    <div class="title">
      <div class="title-img label" />
        <div class="title-txt">
          <h1>"${label.name}" Label</h1>
          <span class="title-caption">
            <a href="${url('/tickets/%s' % label.ticket.system.id)}">${label.ticket.system.name}</a> / 
            <a href="${url('/tickets/%s/%s' % (label.ticket.system.id, label.ticket.number))}">${label.ticket.number}</a>
          </span>
        </div>
      <div class="clear" />
    </div>
  </py:match>

  <py:match path="o:author-list-item">
    <div class="author list">
      <o:author-icon py:with="author=commit.author" size="32" />
      <o:author-name />
    </div>
  </py:match>

  <py:match path="o:author-list">
    <ul py:if="authors">
      <li py:for="author in reversed(authors)">
        <div class="left gutter">
          <o:author-icon size="32" />
        </div>
        <div class="left">
          <h2>
            <o:author-name />
          </h2>
          <a href="mailto:${author.email}">${author.email}</a>
        </div>
        <div class="clear" />
      </li>
    </ul>
  </py:match>

  <py:match path="o:label-default">
    <div>
      <h3>
        <py:choose>
          <py:when test="labels.has_key(None)">History</py:when>
          <py:otherwise test="">History for "${labels.values()[0].name}"</py:otherwise>
        </py:choose>
      </h3>
    </div>
  </py:match>
  
  <py:match path="o:label-list">
    <ul py:if="labels">
      <li class="label-item" py:for="label in reversed(labels)">
        <div class="label left gutter" />
        <div class="left">
          <h2><a href="${url('/tickets/%s/%s/%s' % (label.ticket.system.id, label.ticket.number, label.name))}">${label.name}</a></h2>
	  <pre>${'%s/%s/%s' % (label.ticket.system.id, label.ticket.number, label.name)}</pre>
        </div>
        <div class="right"><span class="caption">${label.head.committer.age}</span></div>
        <div class="clear" />
      </li>
    </ul>
  </py:match>
  
  
  <py:match path="o:unified-diff">
    <ul py:if="len(diff.files) != 0" class="diff-list">
      <li class="diff" py:if="len(diff.files) > 1">
        <ul class="diff">
          <py:for each="file in diff.files">
            <li class="${'action_%s' % file.action.lower()}" title="${file.path}">
              <o:a active="${len(file.chunks)}" href="${'#%s' % file.path}">${file.path}</o:a>
            </li>
          </py:for>
        </ul>
      </li>
      <li>
        <dl class="diff">
          <py:for each="file in diff.files">
            <py:if test="len(file.chunks) != 0">
              <dt title="${file.path}" class="${'action_%s' % file.action.lower()}">
                <a href="${'#%s' % file.path}" name="${file.path}">${file.path}</a>
              </dt>
              <dd>
                <table>
                  <py:for each="chunk in file.chunks">
                    <tr>
                      <td class="count"><pre>...</pre></td>
                      <td class="count"><pre>...</pre></td>
                      <td class="line chunk">
                        <pre>${"@@ -%d,%d +%d,%d @@" % (chunk.left_start, chunk.left_len, chunk.right_start, chunk.right_len)}</pre>
                      </td>
                    </tr>
                    <tr class="${' '.join(['diff_%s' % k for k in ('left', 'right') if getattr(line, k) != None])}" py:for="line in chunk.lines">
                      <td class="count"><pre><py:if test="line.is_left()">${line.left}</py:if></pre></td>
                      <td class="count"><pre><py:if test="line.is_right()">${line.right}</py:if></pre></td>
                      <td class="line">
                        <pre>${line.data}</pre>
                      </td>
                    </tr>
                  </py:for>
                </table>
              </dd>
            </py:if>
          </py:for>
        </dl>
      </li>
    </ul>
  </py:match>
    
  <py:match path="o:label-details">
    <dl>
      <dt>Git Reference</dt>
      <dd>
	<a class="thickbox" title="Instructions" href="#TB_inline?height=145&amp;width=600&amp;inlineId=label_instructions">
	  <pre>${'%s/%s/%s' % (label.ticket.system.id, label.ticket.number, label.name)}</pre>
	</a>
	 <div class="thickbox-target"  id="label_instructions">
	  <o:commit-instructions type="label" url="${label.head.remote_url}" ref="${'%s/%s/%s' % (label.ticket.system.id, label.ticket.number, label.name)}" />
	</div>
      </dd>
      <dt>Patches</dt>
      <dd><a href="${url('/tickets/%s/%s/%s?a=patch' % (label.ticket.system.id, label.ticket.number, label.name))}" title="${'%s_%s_%s.zip' % (label.ticket.system.id, label.ticket.number, '_'.join(label.name.split('/')))}" >Download</a></dd>
    </dl>
  </py:match>  


  <py:match path="o:ticket-details">
    <dl>
      <dt>Git Reference</dt>
      <dd>
	<a class="thickbox" title="Instructions" href="#TB_inline?height=145&amp;width=600&amp;inlineId=ticket_instructions">
	  <pre>${'%s/%s/&lt;label-name&gt;' % (ticket.system.id, ticket.number)}</pre>
	</a>
	 <div class="thickbox-target"  id="ticket_instructions">
	  <o:commit-instructions type="ticket" url="${ticket.labels.values()[0].head.remote_url}" ref="${'%s/%s/&lt;label-name&gt;' % (ticket.system.id, ticket.number)}" />
	</div>
      </dd>
      <dt>Patches</dt>
      <dd><a href="${url('/tickets/%s/%s?a=patch' % (ticket.system.id, ticket.number))}" title="${'%s_%s.zip' % (ticket.system.id, ticket.number)}" >Download</a></dd>
    </dl>
  </py:match>

  <py:match path="o:commit-instructions">
    <dl>
      <dt>Adding this BugBox repository</dt>
      <dd><pre>git remote add bugbox ${select('@url')}</pre></dd>
      <dt>Applying this ${select('@type')}</dt>
      <dd>
        <pre>git pull bugbox ${select('@ref')}</pre>
      </dd>
      <dt>Pushing changes to this ${select('@type')}</dt>
      <dd>
        <pre>git push bugbox ${select('@ref')}</pre>
      </dd>
    </dl>
  </py:match>

  <py:match path="o:commit-list">
    <ul py:if="commits">
      <li py:for="commit in commits">
          <o:commit-message link="${select('@link')}" body="${select('@body')}" />
      </li>
    </ul>
  </py:match>
  
  <py:match path="o:ticket-activity">
    <ul py:if="labels">
      <li py:for="label in labels">
          <o:commit-message py:with="commit=label.head" title="${label.name}" href="${url('/tickets/%s/%s/%s' % (label.ticket.system.id, label.ticket.number, label.name))}" link="false" body="false" />
      </li>
    </ul>
  </py:match>

  <py:match path="o:commit-details">
    <dl>
      <dt>Hash</dt>
      <dd>${commit.id}</dd>
      <dt>Patch</dt>
      <dd><a href="${url('/commits/%s/patch' % commit.id)}" title="${'%s.patch' % commit.id}" >Download</a></dd>
      <py:if test="commit.committer">
        <dt>Committed by</dt>
        <dd>
          <div class="left gutter">
            <o:author-icon py:with="author=commit.committer" size="32" />
          </div>  
          <div class="left">
             <h3>
               <o:author-name py:with="author=commit.author" />
             </h3>  
             <span>${commit.committer.age}</span>
           </div>
          <div class="clear" />
        </dd>
      </py:if>
      <dt>Date</dt>
      <dd>${commit.committer.date.strftime("%a, %d %b %Y %H:%M:%S %Z")}</dd>
      <py:if test="commit.parents">
        <py:choose>
          <py:when test="len(commit.parents) > 1">
            <dt>Parents</dt>
            <dd>
              <ul>
                <li py:for="parent in commit.parents"><a href="${url('/commits/%s' % parent.id)}">${parent.id}</a></li>
              </ul>
            </dd>
          </py:when>
          <py:otherwise>
            <dt>Parent</dt>
            <dd>
              <a href="${url('/commits/%s' % commit.parents[0].id)}">${commit.parents[0].id}</a>
            </dd>
          </py:otherwise>
        </py:choose>
      </py:if>
    </dl>
  </py:match>
  
  <xi:include href="items.tmpl" />

</html>
